@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center mt-5">My Resume</h1>
    <div id="resume">
        <!-- Resume content will be dynamically added here -->
    </div>
</div>
